
/* -------------------------------------------------------------------------- */
/*                                    Text                                    */
/* -------------------------------------------------------------------------- */

.text-smallcaps {
  font-variant: small-caps;
}
.text-superscript {
  vertical-align: super;
}
.text-word-break {
  word-break: break-word;
}


/*-----------------------------------------------
|   Font family
-----------------------------------------------*/
// .text-serif { font-family: $font-family-serif; }
.font-sans-serif {
  font-family: $font-family-sans-serif;
}
.font-base {
  font-family: $font-family-base;
}
.font-cursive{
  font-family: $font-family-cursive;
}
.font-nunito{
  font-family: $font-family-nunito;
}

/*-----------------------------------------------
|   Error Page
-----------------------------------------------*/
.fs-error {
  font-size: 7rem;
  @include media-breakpoint-up(sm) {
    font-size: 10rem;
  }
}

/*-----------------------------------------------
|   Text alignment
-----------------------------------------------*/
.text-justify{
  text-align: justify !important;
}

//shape

.text-gradient{
  // font-size: 16px;
  background: linear-gradient(50deg, rgba(251,60,0,1),rgba(255,184,0,1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.font-big-shoulders{
  font-family: 'Big Shoulders Display', cursive;
}
.title-100{
  background: url('/assets/img/text-bg.png') no-repeat, linear-gradient(117.9deg, #1BADFF 9.45%, #25E4CD 93.89%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 300px;
  background-position: 0% 120%;
}
.title-text{
  line-height: 1;
}